<li>
	<form action="/text/del/" method="POST" class="del ajax unary" id="delete_text_{{text.key|escape}}">
		<input type="hidden" name="key" value="{{text.key|escape}}" />
		<input type="submit" value="X" />

		<!-- ajax properties -->
		<input type="hidden" name="dest" value="li" />
		<input type="hidden" name="meth" value="remove" />
	</form>

	<form action="/text/"
			method="POST"
			class="autosave ajax"
			id="save_text_{{text.key|escape}}"
			autocomplete="off">
		<div class="toggleContainer">
			<input type="hidden" name="key" value="{{text.key|escape}}" />
			<input type="button" value="+" class="toggleButton" />

			<input type="text" class="title monitor_changes" name="title" value="{{text.title|escape}}" />
			<div class="toggleContent" {% if not just_created %}style="display:none;"{% endif %}>
				<textarea name="content" class="monitor_changes">{{text.content|escape}}</textarea>
				<div>
					<input type="submit" value="save" class="right" />
					<span class="status">unmodified</span>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<input type="hidden" name="dest" value=".status" />
		<input type="hidden" name="meth" value="status" />
		<input type="hidden" name="modified" value="false" />
	</form>
</li>
