<html>
	<head>
		<title>{{title}}SaveMyText</title>
		<link rel="stylesheet" href="/public/index.css" />
		<meta name="viewport" content="width=device-width; minimum-scale=1.0" />
		<link rel="shortcut icon" href="/public/favicon.png" />
		<script src="/public/jquery/js/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/public/angular-debug.js" ng:autobind></script>
		<script type="text/javascript" src="/public/angular-text.js"></script>
	</head>
	
	<body>
		<div class="header flush">
			<div class="header_content">
				{{header}}
			</div>
		</div>

		<div class="content flush">
			{{content}}
		</div>
		
		<div class="footer flush">Brought to you by <a href="http://gfxmonk.net">gfxmonk</a></div>

	</body>
	
</html>
