<html>
	<head>
		<title>SaveMyText: Exactly what it says on the tin.</title>
		<link rel="stylesheet" href="/public/index.css" />
		<meta name='viewport' content='width=680' />
		<script src="/public/jquery/js/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script src="/public/ajax-forms.js" type="text/javascript"></script>
	</head>
	
	<body>
		<div class="throb">&nbsp;</div>
		<div class="header flush">
			<div class="header_content">
				{{header}}
			</div>
		</div>

		<div class="content flush">
			{{content}}
		</div>
		
		<div class="footer flush">Brought to you by <a href="http://gfxmonk.net">gfxmonk</a></div>

	</body>
	
</html>
